<h2 class="greeting">שלום, {{ userName | capitalizeFirst }}!</h2>
<div class="home-container">
    <div class="welcome-section">
        <h1>ברוכים הבאים לאתר הקורסים האונליין שלנו!</h1>
        <p class="description">
            כאן תוכלו למצוא מגוון רחב של קורסים מרתקים בתחומים שונים,
            המועברים על ידי מורים מומחים. הצטרפו אלינו עוד היום והתחילו ללמוד!
        </p>
        <button mat-raised-button color="primary" routerLink="/courses">
            <span appHighlight>לכל הקורסים</span>
        </button>
    </div>
    <div class="image-section">
        <img src="assets/screen-mockup-1.jpg" alt="איור של למידה אונליין">
    </div>
</div>