<div class="admin-button-container" *ngIf="isTeacher()">
  <button mat-raised-button color="accent" [routerLink]="['/admin/courses']">
    ניהול קורסים
  </button>
</div>
<h2 class="courses-title">רשימת קורסים</h2>

<div class="courses-list">
  
  <div *ngFor="let course of courses" class="course-card">
    <h3 class="course-title">{{ course.title }}</h3>
    <p class="course-teacher">מורה: {{ course.teacherId }}</p>
    <p class="course-desc">{{ course.description }}</p>
    <div class="course-actions">

      <button mat-raised-button color="primary" (click)="joinCourse(course)" *ngIf="!isUserEnrolled(course)">הצטרף</button>
      <button mat-raised-button color="warn" (click)="leaveCourse(course)" *ngIf="isUserEnrolled(course)">עזוב</button>
      <button mat-button color="accent" [routerLink]="['/courses', course.id]">פרטים</button>
    </div>
  </div>
  <div *ngIf="courses.length === 0" class="course-card">
    אין קורסים זמינים כרגע.
  </div>
</div>

<div class="admin-button-container" *ngIf="isTeacher()">
  <button mat-raised-button color="accent" [routerLink]="['/admin/courses']">
    ניהול קורסים
  </button>
</div>